body{
    margin: 15px;
}

.tituloCronometro{
    font-size: 2rem; 
    font-family: 'Times New Roman', Times, serif;
}

.botones{
    border-style: hidden; 
    color: green; 
    height: 40px; 
    width: 160px; 
    font-size: 1.5rem;
    cursor: pointer; 
    background: rgb(218, 205, 205);
}

.botones:hover{
    opacity: .5;
    margin-left: 10px
}


.cronometro{
    margin-left: 510px;
    font-size: 7rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode' , Verdana, sans-serif; 
    top: 33%;
    position: absolute;
}

.caja{
    position: relative;
    display: inline-block;
}

.imagenCronometro{
    margin-left: 250px;
}

@media(max-width: 900px){
    .imagenCronometro{
        margin-left: 100px;
        width: 500px;
        height: 600px
    }

    .cronometro{
        margin-left: 265px;
        top: 29%;

    }
}

@media(max-width: 750px){
    .imagenCronometro{
        margin-left: 0px;
        width: 400px;
        height: 500px
    }

    .cronometro{
        margin-left: 116px;
        top: 22%;

    }
}